@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2? family= Poppins:ital,wght@1.300 & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:   'Poppins', sans-serif;
}
.center{
    max-width: 1100px ;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}
.menu-mobile{
display: none;

}
header{
background-color: white;
padding: 20px 0;
border-bottom: 2px solid rgb(200,200,200);
}
.logo{
    color: #16507b;
}
.logo h2{
    font-weight: normal ;
    font: size 22px; 
}
.menu{
    width: 80%;
    text-align: right;
}
.menu a{
  color:  #16507b;
  font-size: 14px ;
  text-decoration: none;
  margin-right: 20px;
  transition: 0.4s;
 }
.menu a:hover{
    color:#007bff
}
.menu .btn-menu{
    background-color:#007bff ;
    display: inline-block;
    padding: 8px 16px;
    color: white;
    border-radius: 6px;
}
.menu  .btn-menu:hover{
    background-color: #124265;
    color: white;

}
/*
section.main
*/

section.main{
    background-image: url();
padding: 70px 0;
    background-position:center ;
    background-size: cover;
    background-repeat: no-repeat;


}
.main-cta{
width: 100%;
text-align: center;
}

.main-cta h2{
    color: #124265;
    margin: 60px 0;
    font-size: 40px;

}
.main-cta p{
    color: gray;
    font-size: 19px;
    margin: 10px 0;

}
.main-cta button{
    background-color: #007bff;
    display: inline-block;
    padding: 8px 30px;
    color: white;
    border-radius: 6px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
}

.diferenciais{
    display: flex;
    flex-wrap:wrap ;
}

.diferenciais-single{
    background-color:white;
    width: 23%;
    margin-right: 2%;
    padding: 50px 20px;
border-radius: 10px;
}

.diferenciais-single i{
    color: #124265;
font-size: 23px;
}

.diferenciais-single h2{
    margin: 2px 0;
    font-size: 17px;
    color: #124265;
}

.diferenciais-single p{
    color: gray;
    line-height: 30px;
    font-size: 14px;
}

section.sobre{
    padding: 80px 0;
}

.chamada-sobre{
    width: 100%;
    text-align: center;
}

.chamada-sobre h2 {
    color: #124265;
    text-align: center;
    text-transform: uppercase;
}

.chamada-sobre p {
   font-size: 14px;
    color: gray;
    margin: 10px 0;

}
.conteudo-sobre{
    display: flex;
}
.conteudo-sobre p{
    margin:0 20px ;
    font-size: 14px;
    margin: 10px 0 ;
}
.conteudo-sobre{
    display: flex;
    flex-wrap: wrap;

 }
.conteudo-sobre p {
    width: 480%;
margin-right: 2%;
    color: #444444;
}

.conteudo-sobre span{
display: inline-block;
margin-top: 10px;
width: 100%;
}
.conteudo-sobre i{
    color: #007bff;
}
section.conquistas{
    background-color: #f8fbfe;
    padding: 20px 0;
}
.conquistas-single{
    width: 22%;
    margin-right: 3%;
    text-align: center;
    color: #124265;
}
 .conquistas-single h2{
     font-size: 30px;
 }
 .conquistas-single img{
     max-width: 100%;
     filter: grayscale(100%);
     transition: 1s;
     transform: scale(1,1);
 }
 .conquistas-single img:hover{
     filter: grayscale(0);
     transform:scale(1.1.,1.1);
 }
.logo{
    width: 20%;
}
 .menu{
     display: none;
 }
 .menu-mobile{
     width: 80%;
     text-align: right;
     display: block;
 }
 .menu mobile i{
     cursor: pointer;
     font-size: 23px;
     margin-top: 8px;
 }
.menu-itens{
    position: absolute;
    left: 0;
    top: 60px;
width: 100%;
    text-align: center;
    display: block;
    background-color: white;
    border-bottom: 2px solid blue;
    display: block;
    transition: 1s;
opacity: 0;
}
/*
criando o menu com os .show e ,hidde 
*/
.menu-itens.show{
    opacity: 1;
 }
.menu-itens.hidde{
    opacity: 0;
 }
.menu-itens a{
    display: block;
   text-decoration: none;
   color: blue;
}
section.sobre-empreendedor{
padding: 40px 0;

}

.sobre-empreendedor-video video{
     max-width:100%
    
}
.sobre-empreendedor-video{
    width: 50%;
    padding: 50px;
}
.sobre-empreendedor-content{
    width: 50%;
    padding: 50px 50px;
}
.sobre-empreendedor-content h2{
    color: #124265;
    margin-bottom: 20px;
}
    .sobre-empreendedor-content p{
        color: #444;
        font-size: 14px;
        margin-bottom: 14px;
    }
        /*depoimentos*/
    section.depoimentos{
padding: 40px 0;
    }
    section.depoimentos .depoimentos-chamada{
 text-align: center;
    }
 .depoimentos-chamada h2{
     color: #124265;
text-transform: uppercase;
    }
    .depoimentos-chamada p{
        margin: 2px 0;
        color: #ccc;
        font-size: 14px;
    }
 
    .carrousel{
        display: flex;
    }
    .carrousel-single{
        width: 31%;
        margin-right: 2%;
        text-align: center;
    }
    .carrousel-single i{
        max-width: 100%;
    }
    .carrousel-single-box{
        padding: 20px;
        background-color: #f3f9fd;
        border-radius: 10px;
    }
    .carrousel-single-box p{
        font-style: italic;
        font-size: 16px;
        color:#4b4b4b;
    }
        .carrousel-single-box i{
            color: #c9e3f5;
            font-size: 19px;
            padding: 0 8px;
        }
        .carrousel-single img{
             width: 70px;
             height: 70px;
             display: inline ;
             margin: 2px 0;
             border-radius: 50%;
       
     }
    /*fim do depoimento*/
@media screen and(max-width: 768px){
    .diferencial-singl{
        width:100%;
        margin-bottom: 20px;
    }
    
    .conteudo-sobre p{width: 100%; margin:20px ;}
}
footer{
    border-bottom: 2px solid rgb(200,200,200);
    padding: 50px 0;
    font-size:medium;
  color: #124265;
    text-align: center;
}